
  <div id="page-content">
  	<div id="slides-container">
  		<div id="slides"
  					data-0="transform: translate(0%,0%)"
  					data-3000=""
						data-4000="transform: translate(0%,-50%)"
						data-9000=""
						data-10000="transform: translate(-50%,-50%)"
						data-15500=""
						data-18000="transform: translate(-50%,0%)"
						data-23000=""
  					>

<!--   SLIDE 1    -->

  			<div id="slide-1" class="slide">
  				<div id="sun" 
            data-start="transform:rotate(0deg);transform-origin:center;left:75%;top:120%" 
            data-2000="transform:rotate(360deg);left:-10%; top:-20%"
            >
          </div> 
  				<div id="clouds-1" 
            data-0="background-position:0px 0px;" 
            data-end="background-position:500px -1500px;" 
            style="background-position: -180.166666666667px -2162px;"
            >
          </div>
  				<div id="clouds-2" 
            data-0="background-position:0px 0px;" 
            data-end="background-position:500px -2000px;" 
            style="background-position: 0px 0px;"
            >
          </div>
  				<div id="main-cloud"></div>
  				<div id="pig-cloud"></div>
  				<div id="about-container">
            About
						<div id="about">
              <p>
                Pig Cave is a website paying homage to dreaming, most often experienced in sleep, but also in the quiet desperation of boredom. Its goal is to simulate connections between stories and thoughts that otherwise would go unearthed.
              </p> 
              <p>
                Pig Cave has three stages: Story, Thought, and Dream.
              </p>
              <p>
                First, a Story. Pig Cave gives you a random six-word-story (e.g. "For sale: baby shoes, never worn."). From here your story enters a finely tuned word-matching algorithm called the Prism of Ontological Recumbent Kinetic Energy and Rumplestiltkin Syzygy, or PORKERS. PORKERS conjures a similarly themed Thought, and lastly, smashes the Story and Thought together to capture a Dream. And voila! Pig Cave! Makes Sense? Great!
              </p>
              <p>
                Please read, relate, think, feel, and what have you. Above all, get lost and take pleasure in not knowing where you are.
              </p>
              <p class="footer">
                * Pig Cave uses data from three APIs stored on a separate server. The original data was collected from Reddit.com and DreamBank.net.
              </p>
            </div>
  				</div>	
  			</div>

<!--   SLIDE 2    -->

  		  <div id="slide-2" class="slide"
           data-3000="top: 0%"
        >

        <div id="tree-container">
          <div id="trees2" 
            data-3000="background-position:500px 100px" 
            data-4000="background-position:0px -30px;" 
            data-6000="background-position:0px -30px;"
            data-7000="background-position:0px 220px;" 
            data-9000="background-position:0px 220px;" 
            data-10000="background-position:500px 200px;"
            >
          </div>
          <div id="trees" 
            data-3000="background-position:-900px 200px;" 
            data-4000="background-position:0px 0px;"
            data-6000="background-position:0px 0px;"
            data-7000="background-position:0px 150px;"  
            data-9000="background-position:0px 150px;" 
            data-10000="background-position:-900px 100px;"
            >
          </div>
        </div>

  		  	<div id="pig-tree" 
            data-3000="background-position:200px 800px;" 
            data-4000="background-position:0px 0px;"
            data-6000="background-position:0px 0px;"
            data-7000="background-position:0px 90px;"     
            data-9000="background-position:0px 90px" 
            data-10000="background-position:-500px 200px;"
            >
          </div>
  		  	<div id="fat-owl"
            data-6000="background-position:0px 0px;"
            data-7000="background-position:0px 60px;"   
            data-9000="background-position:0px 60px"
            data-10000="background-position:-700px 200px;" 
            >
          </div>
  		  	<div id="lazers" 
            data-4500="opacity: 0"
  		  		data-5500="opacity: 1"
  		  		data-5990="opacity: 0">
  		  	</div>
  		  	<div class="story caption"
            data-6000="top:520px; left:572px"
            data-7000="top:580px;"
            data-9170="top:580px; left:572px"
            data-10000="top:580px; left:1650px"
            >
          </div>
  		  </div>


<!--   SLIDE 3    -->

  		  <div id="slide-3" class="slide">
  		  	<div id="thought-bubble"
            data-9000="opacity: 0"
            data-10000="opacity: 1">
          </div>
  		  	<div id="bandido-uno"
            data-9000="top: 464px; left: -366.7777px"
            data-10000="top: 464px; left: 616px"
          >
          </div>
  		  	<div id="bandido-dos"
            data-9000="top: 700px; left: 1550px"
            data-10000="top: 473px; left: 1016px"
          >
          </div>
  		  	<div id="scuba-pig"
            data-9000="top: 478px; left: 40px"
            data-10000="top: 478px; left: 650px"
          >
          </div>
  		  	<div id="tub"
            data-9000="top: 0%; left: 120%"
            data-10000="top: 30%; left: 60%"
            >
          </div>
          <div class="thought caption"
            data-9000="opacity: 0"
            data-10000="opacity: 1"
          >
            <%= @thought %>
          </div>
  		  	<div id="no-face"
            data-9000="top: 161px; left: 100%; opacity: 1"
            data-10000="top: 161px; left: 0px"
            data-12000="top: 161px; left: 0px"
            data-13000="top: -600px; left: 100px"
            data-13000="top: -600px; left: 100px"
            data-14000="top: -1000px; left: 200px"
            data-14001="opacity: 1"
            data-14002="opacity: 0"
          >
          </div>
          <div id="hand"
            data-10500="top: -935px; left: 0px; opacity: 1"
            data-11000="top: -183px; left: -100px"
            data-12000="top: -183px; left: -100px"
            data-13000="top: -935px; left: 0px"
            data-13001="opacity: 1"
            data-13002="opacity: 0"
          >
          </div>
  		  </div>

<!--   SLIDE 4    -->

  		  <div id="slide-4" class="slide">
          <div id="stars"
            data-15000="background-position:0px 0px;" 
            data-23000="background-position:500px 805px;" 
            >
          </div>
          <div id="stars1"
            data-15000="background-position:0px 0px;" 
            data-23000="background-position:500px 500px;" 
            >
          </div>
          <div id="stars2"
            data-15000="background-position:0px 0px;" 
            data-23000="background-position:500px 310px;" 
            >
          </div>
          <div id="fat-night-owl"
            data-15000="top: 411px; left: 665px" 
            data-18000="top: 311px; left: 665px"
          >
          </div>
          <div id="fly-pig"
            data-18000="top: -100px; left: -300px" 
            data-18500="top: 165.5px; left: 763.5px"
            data-18500="top: 165.5px; left: 763.5px"
            data-19500="top: 165.5px; left: 763.5px"
            data-19500="top: 165.5px; left: 763.5px" 
            data-20000="top: -100px; left: 1500px" 
            >
          </div>
  		  	<div id="bambi"
            data-15000="top: 37px; left: 40px" 
            data-18000="top: -77px; left: -40px" 
            >
          </div>
  		  	<div id="campfire"
            data-15000="top: 550px; left: 765px" 
            data-18000="top: 487px; left: 815px"
          >
          </div>
          <div id="pig-bag1"
            data-15000="top: 487px; left: 910px" 
            data-18000="top: 387px; left: 1050px"
            >
          </div>
          <div id="pig-bag2"
            data-15000="opacity: 0"
            >
          </div>
  		  	<div class="dream caption"
            data-15000="top: 147px; left: 127px" 
            data-18000="top: 47px; left: 47px"
            >
  		  		<%= @dream %>
  		  	</div>
  		  </div>



        <div id="person-container">
          <div id="possessed"
           data-5989="opacity: 0"
           data-6000="top:1150px; left:192px; opacity: 1"
           data-7000="top:1030px; opacity: 1"
           data-8000="transform:rotate(-360deg);transform-origin:bottom;" 
           data-8200="transform:rotate(-230deg);" 
           data-9000="left:192px"
           data-10010="left:1500px;">
          </div>
          <div id="person" 
            data-3000="
             top:282px;
             left:257px;
             transform:rotate(0deg);
             transform-origin:center;
             opacity: 1;" 
            data-4000="top:1130px; left:149px;transform:rotate(-360deg); opacity: 1"
            data-4001="top:1130px" 
            data-6000="top:1130px;opacity: 1"
            data-7000="top:1010px; opacity: 0">
          </div>
         </div>


  		</div>
  	</div>

  	<div id="helper">
  		<div class="marker red"></div>
  		<div class="marker green"></div>
  		<div class="marker blue"></div>
  		<div class="marker yellow"></div>
  	</div>

    <script type="text/javascript">

    // window.addEventListener('resize', _.debounce(function() {

    // checkResize = setTimeout(function() {
    //   debugger
    //   $('#person').each( function() {
    //     var $skroll = $(this);
    //             debugger
    //     $.each( $skroll.data(), function( key ) {
    //               debugger
    //       $skroll.removeAttr( 'data-' + key );
    //       $skroll.removeData();
    //               debugger
    //     });
    //   });
    // }, 250);

    // }, 300), true);

    var s = skrollr.init({

    });
    </script>

  </div>



















