html, body {
	width: 100%;
	height: 100%;
	font-family: garamond;
}


/*Slides*/

#slides-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#slides {
	width: 200%;
	height: 200%;
	position: fixed;
	top: 0;
	left: 0;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
}

#slide-1 {
	background-color: #E1F2F7;
}

#slide-2 {
	background-color: #E1F7F1;
	-ms-transform: translate(0,100%);
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%);
}

#slide-3 {
	background-color: #E9EAF2;
	-ms-transform: translate(100%,100%);
  -webkit-transform: translate(100%,100%);
  transform: translate(100%,100%);
}

#slide-4 {
	background-color: #8F92A6;
	-ms-transform: translate(100%,0);
  -webkit-transform: translate(100%,0);
  transform: translate(100%,0);
}

.caption {
	position: absolute;
	bottom: 50%;
	right: 50%;
}

#slide-2 .caption {
	text-align: center;
	width: 250px;
	right: auto;
	top: 520px;
	left: 572px;

}



/*Templates*/

#about-container {
	background-color: #F7F7F7;
	width: 300px;
	height: 500px;
	border-radius: 10%;
	font-size: 50px;
	float: right;
	margin-right: 1em;
	margin-top: 3em;
	text-align: center;
	box-shadow: 3px 3px 20px #888888;
	position: relative;
}

#sun {
	width: 210px;
	height: 180px;
	left: 50px;
	top: 50px;
	position: absolute;
	background: url("/assets/sun.png");
}

#main-cloud {
	width: 285px;
	height: 173px;
	position: absolute;
	top: 450px;
	left: 184px;
  background: url("/assets/cloud-main.png");
}

#person {
	width: 180px;
	height: 269px;
	top: 282px;
	left: 257px;
	position: absolute;
	background: url("/assets/person.png");
}

#pig-cloud {
	width: 420px;
	height: 242px;
	top: 100px;
	left:539px;
	position: absolute;
	background: url("/assets/pig-cloud.png");
}

#clouds-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url("/assets/clouds-11.png")
}

#clouds-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url("/assets/clouds-22.png")
}

#clouds-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url("/assets/clouds-3.png")
}


/*slide-2*/

#fat-owl {
	width: 100%;
	height: 100%;
	top: 15px;
	left: 102px;
	position: absolute;
  background: url("/assets/fat-owl.png");
  background-repeat: no-repeat;
}

#pig-tree {
  width: 100%;
	height: 110%;
	top: -100px;
	left: 225px;
	position: absolute;
  background: url("/assets/pig-tree2.png");
  background-repeat: no-repeat;
}

#lazers {
	width: 100%;
	height: 46.8%;
	top: 242px;
	left: 14px;
	position: absolute;
  background: url("/assets/pig-tree-lazers.png");
  background-repeat: no-repeat;
}

#lazered {
  width: 212px;
  height: 300px;
  top: 1100px;
  left: 257px;
	position: absolute;
	background: url("/assets/person-lazered.png");
}

#trees {
  width: 100%;
	height: 110%;
	position: absolute;
  background: url("/assets/tree-background.png");
}

#trees2 {
  width: 100%;
	height: 110%;
	position: absolute;
  background: url("/assets/tree-background2.png");
}



/*slide 3*/

#slide-3 .caption {
	top: 195px;
	right: 299px;
	width: 365px;
}

#tub {
	width: 100%;
	height: 100%;
	top: 254px;
	left: 818px;
	position: absolute;
  background: url("/assets/tub.png");
  background-repeat: no-repeat;
}

#scuba-pig {
	width: 100%;
	height: 100%;
	top: 384px;
	left: 532px;
	position: absolute;
  background: url("/assets/scuba-pig.png");
  background-repeat: no-repeat;
}

#thought-bubble {
	width: 100%;
	height: 100%;
	top: 159px;
	left: 691px;
	position: absolute;
  background: url("/assets/thought-bubble.png");
  background-repeat: no-repeat;
}

#bandido-uno {
  width: 100%;
	height: 100%;
	top: 376px;
	left: 820px;
	position: absolute;
  background: url("/assets/bandido1.png");
  background-repeat: no-repeat;
}

#bandido-dos {
  width: 100%;
	height: 100%;
	top: 385px;
	left: 933px;
	position: absolute;
  background: url("/assets/bandido2.png");
  background-repeat: no-repeat;
}

#face {
	width: 100%;
	height: 100%;
	top: 161px;
	left: 0px;
	position: absolute;
  background: url("/assets/face.png");
  background-repeat: no-repeat;
}


/*Slide 4*/

#slide-4 .caption {
	top: 305px;
	left: 37px;
  width: 470px;
}

#tent {
	width: 100%;
	height: 100%;
	top: 200px;
	left: 0px;
	position: absolute;
  background: url("/assets/tent.png");
  background-repeat: no-repeat;
}

/*Helpers*/

#helper {
	position: absolute;
	left: 0;
	top: 0;
	height: 600%;
}

.marker {
	height: 25%;
	width: 100%;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

